/* botoons */

.btn {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.color-btn {
    background-image: url(/img/color-btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    width: 70px;
    cursor: pointer;
    border: none;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.btn-save {
    background-color: transparent;
    background-image: url(/img/save.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: none;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.btn-download {
    background-color: transparent;
    background-image: url(/img/download.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: none;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.btn-upload {
    background-color: transparent;
    background-image: url(/img/download.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: none;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.presn-btn {
    background-color: transparent;
    background-image: url(/img/pres.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: none;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;

}

.numb-btn {
    background-color: transparent;
    background-image: url(/img/numb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: none;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    border-radius: 50%;

}

.btn.red {
    background-color: red;
    border: none;
    margin-left: 60px;
    align-self: center;
}

.btn.blue {
    background-color: blue;
    border: none;
    align-self: center;
}

.btn.green {
    background-color: green;
    border: none;
    align-self: center;
}

.btn-close {
    /* margin-right: 20px; */
    height: 20px;

}

.btn-add {
    border: none;
    background-color: #d3d2d2;
    height: 35px;
    width: 120px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #bebebe;
}

.exit-editor {
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: #d3d2d2;
    align-self: flex-end;
}